[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/PictureIt"]
	path = dependencies/PictureIt
	url = https://github.com/linuxwhatelse/PictureIt
